<form action="/" method="GET">
		  <div class="d-flex flex-row flex-wrap lg-justify-content-around">
			  <button class="btn btn-sm btn-warning facetedsearchbuttons">Submit!</button>
          	  <button type="button" class="btn btn-sm btn-danger uncheckall facetedsearchbuttons">Clear All</button>	
		  </div>
          
          <hr>
          <div class="">
            <h3>Type</h3>
            <div class="choice-type">
              <input type="checkbox" name="type" value="Restaurant" id="Restaurant">
              <label for="Restaurant">Restaurant</label>
            </div>

            <div class="choice-type">
              <input type="checkbox" name="type" value="Bar" id="Bar">
              <label for="Bar">Bar</label>
            </div>

            <div class="choice-type">
              <input type="checkbox" name="type" value="Cafe" id="Cafe">
              <label for="Cafe">Cafe</label>
            </div>
            <hr>
          </div>
          <div class="">
            <h3>MRT Line</h3>
            <div class="choice-mrtline">
              <input type="checkbox" name="mrtLine" value="Brown" id="Brown">
              <label for="Brown">Brown</label>
            </div>
            <div class="choice-mrtline">
              <input type="checkbox" name="mrtLine" value="Red" id="Red">
              <label for="Red">Red</label>
            </div>
            <div class="choice-mrtline">
              <input type="checkbox" name="mrtLine" value="Green" id="Green">
              <label for="Green">Green</label>
            </div>
            <div class="choice-mrtline">
              <input type="checkbox" name="mrtLine" value="Orange" id="Orange">
              <label for="Orange">Orange</label>
            </div>
            <div class="choice-mrtline">
              <input type="checkbox" name="mrtLine" value="Blue" id="Blue">
              <label for="Blue">Blue</label>
            </div>
            <hr>
          </div>
          <div class="allmrtstations">
            <h4>MRT Station</h4>
            <div id="mrtinfo" class="mrtinfo">
              Select an MRT Line to Show Stations
            </div>
            <div class="scrollBox">


              <div class="stations Brownstations" >
                <table class="table Brownstations">
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                          <input type="checkbox" name="mrtStation" value="Daan" id="Daan">
                          <label for="Daan"></label>
                      </div>
                    </td>
                  <td>Daan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Dahu Park" id="Dahu Park">
                        <label for="Dahu Park"></label>
                      </div>
                    </td>
                    <td>Dahu Park</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Dazhi" id="Dazhi">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Dazhi</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Donghu" id="Donghu">
                        <label for=""></label>
                      </div>
                    <td>Donghu</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Gangqian" id="Gangqian">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Gangqian</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Huzhou" id="Huzhou">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Huzhou</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Jiannan Road" id="Jiannan Road">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Jiannan Road</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Linguang" id="Linguang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Linguang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Liuzhangli" id="">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Liuzhangli</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Muzha" id="Muzha">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Muzha</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Nangang Software Park" id="Nangang Software Park">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Nangang Software Park</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Nanjing Fuxing" id="Nanjing Fuxing">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Nanjing Fuxing</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Neihu" id="Neihu">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Neihu</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Songshan Airport" id="Songshan Airport">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Songshan Airport</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Nangang Exhibition Center" id="Taipei Nangang Exhibition Center">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Nangang Exhibition Center</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Zoo" id="Taipei Zoo">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Zoo</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Technology Building" id="">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Technology Building</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Wanfang Community" id="Wanfang Community">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Wanfang Community</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Wende" id="Wende">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Wende</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xihu" id="Xihu">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xihu</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xinhai" id="Xinhai">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xinhai</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongshan Junior High School" id="Zhongshan Junior High School">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongshan Junior High School</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongxiao Fuxing" id="Zhongxiao Fuxing">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongxiao Fuxing</td>
                  </tr>
                </table>
              </div>
              <div class="stations Redstations">
                <table class="table Redstations">
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Beitou" id="Beitou">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Beitou</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Chiang Kai-shek Memorial Hall" id="Chiang Kai-shek Memorial Hall">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Chiang Kai-shek Memorial Hall</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Daan" id="Daan">
                        <label for=""></label>
                      </div>
                    <td>Daan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Daan Park" id="Daan Park">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Daan Park</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Dongmen" id="Dongmen">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Dongmen</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Fuxinggang" id="Fuxinggang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Fuxinggang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Guandu" id="Guandu">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Guandu</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Hongshulin" id="Hongshulin">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Hongshulin</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Jiantan" id="Jiantan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Jiantan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Mingde" id="Mingde">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Mingde</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Minquan West Road" id="Minquan West Road">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Minquan West Road</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="NTU Hospital" id="NTU Hospital">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>NTU Hospital</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Qilian" id="Qilian">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Qilian</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Qiyan" id="Qiyan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Qiyan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Shilin" id="Shilin">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Shilin</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Shipai" id="Shipai">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Shipai</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Shuanglian" id="Shuanglian">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Shuanglian</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei 101" id="Taipei 101">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei 101</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Main" id="Taipei Main">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Main</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Tamsui" id="Tamsui">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Tamsui</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xiangshan" id="Xiangshan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xiangshan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xinbeitou" id="Xinbeitou">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xinbeitou</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xinyi Anhe" id="Xinyi Anhe">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xinyi Anhe</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Yuanshan" id="Yuanshan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Yuanshan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhishan" id="Zhishan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhishan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongshan" id="Zhongshan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongshan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongyi" id="Zhongyi">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongyi</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhuwei" id="Zhuwei">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhuwei</td>
                  </tr>
                </table>
              </div>
              <div class="stations Greenstations">
                <table class="table Greenstations">
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Beimen" id="Beimen">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Beimen</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Chiang Kai-shek Memorial Hall" id="Chiang Kai-shek Memorial Hall">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Chiang Kai-shek Memorial Hall</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Gongguan" id="Gongguan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Gongguan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Guting" id="Guting">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Guting</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Jingmei" id="Jingmei">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Jingmei</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Nanjing Fuxing" id="Nanjing Fuxing">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Nanjing Fuxing</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Nanjing Sanmin" id="Nanjing Sanmin">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Nanjing Sanmin</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Qizhang" id="Qizhang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Qizhang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Songjiang Nanjing" id="Songjiang Nanjing">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Songjiang Nanjing</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Arena" id="Taipei Arena">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Arena</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipower Building" id="Taipower Building">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipower Building</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Wanlong" id="Wanlong">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Wanlong</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xiaobitan" id="Xiaobitan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xiaobitan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xiaonanmen" id="Xiaonanmen">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xiaonanmen</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Ximen" id="Ximen">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Ximen</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xindian" id="Xindian">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xindian</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xindian District Office" id="Xindian District Office">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xindian District Office</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongshan" id="Zhongshan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongshan</td>
                  </tr>
                </table>

              </div>
              <div class="stations Orangestations">
                <table class="table Orangestations">
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Cailiao" id="Cailiao">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Cailiao</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Danfeng" id="Danfeng">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Danfeng</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Daqiaotou" id="Daqiaotou">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Daqiaotou</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Dingxi" id="Dingxi">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Dingxi</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Dongmen" id="Dongmen">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Dongmen</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Fu Jen University" id="Fu Jen University">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Fu Jen University</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Guting" id="Guting">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Guting</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Huilong" id="Huilong">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Huilong</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Jingan" id="Jingan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Jingan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Luzhou" id="Luzhou">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Luzhou</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Minquan West Road" id="Minquan West Road">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Minquan West Road</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Nanshijiao" id="Nanshijiao">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Nanshijiao</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Sanchong" id="Sanchong">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Sanchong</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Sanchong Elementary School" id="Sanchong Elementary School">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Sanchong Elementary School</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Sanhe Junior High School" id="Sanhe Junior High School">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Sanhe Junior High School</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Sanmin Senior High School" id="Sanmin Senior High School">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Sanmin Senior High School</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Songjiang Nanjing" id="Songjiang Nanjing">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Songjiang Nanjing</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="St Ignatius High School" id="St Ignatius High School">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>St Ignatius High School</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Bridge" id="Taipei Bridge">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Bridge</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Touqianzhuang" id="Touqianzhuang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Touqianzhuang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xianse Temple" id="Xianse Temple">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xianse Temple</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xingtian Temple" id="Xingtian Temple">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xingtian Temple</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xinzhuang" id="Xinzhuang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xinzhuang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Yongan Market" id="Yongan Market">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Yongan Market</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongshan Elementary School" id="Zhongshan Elementary School">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongshan Elementary School</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongxiao Xinsheng" id="Zhongxiao Xinsheng">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongxiao Xinsheng</td>
                  </tr>
                </table>

              </div>
              <div class="stations Bluestations">
                <table class="table Bluestations">
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Banqiao" id="Banqiao">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Banqiao</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Dingpu" id="Dingpu">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Dingpu</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Far Eastern Hospital" id="Far Eastern Hospital">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Far Eastern Hospital</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Fuzhong" id="Fuzhong">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Fuzhong</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Haishan" id="Haishan">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Haishan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Houshanpi" id="Houshanpi">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Houshanpi</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Kunyang" id="Kunyang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Kunyang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Longshan Temple" id="Longshan Temple">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Longshan Temple</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Nangang" id="Nangang">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Nangang</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Shandao Temple" id="Shandao Temple">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Shandao Temple</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Sun Yat-sen Memorial Hall" id="Sun Yat-sen Memorial Hall">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Sun Yat-sen Memorial Hall</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei City Hall" id="Taipei City Hall">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei City Hall</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Main Station" id="Taipei Main Station">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Main Station</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Taipei Nangang Exhibition Center" id="">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Taipei Nangang Exhibition Center</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Tucheng" id="Tucheng">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Tucheng</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Ximen" id="Ximen">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Ximen</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Xinpu" id="Xinpu">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Xinpu</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Yongchun" id="Yongchun">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Yongchun</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Yongning" id="">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Yongning</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongxiao Dunhua" id="Zhongxiao Dunhua">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongxiao Dunhua</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongxiao Fuxing" id="Zhongxiao Fuxing">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongxiao Fuxing</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="choice-mrtstation">
                        <input type="checkbox" name="mrtStation" value="Zhongxiao Xinsheng" id="Zhongxiao Xinsheng">
                        <label for=""></label>
                      </div>
                    </td>
                    <td>Zhongxiao Xinsheng</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </form>