/* Global */

html, body {
	height: 80vh;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

/* Campround Index */

.thumbnail img {
	width: 100%;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}


/* Google Maps */    
#map {
        height: 100%;
		width: 100%;
	}

.fill {
	height: 100%;
	padding-bottom: .8rem;
}

.marker-stars {
	width: 35%;
}
