.lead {
	padding-left: 20px;	
	font-size: 1.5rem;
	font-weight: bold;
}


.star {
	max-width: 42%;
	height: auto;
}

.campground-name {
	font-size: 2rem;
	font-weight: 700;
}

.delete-form {
	display: inline;
}

.dollar-sign{
	max-width: 17%;
	height: auto;
}

/* galleria options */

body .galleria-theme-classic .galleria-carousel .galleria-thumbnails-list{
	margin-left: 0;
	
}
body .galleria-theme-classic .galleria-carousel .galleria-thumbnails-list[style]{
	overflow: visible !important
	
}

body .galleria-container{
	background: white;
}

body .galleria-theme-classic .galleria-stage {
	top: 0;
	left: 0;
	right: 0;
}

body .galleria-theme-classic .galleria-thumbnails-container {
	left: 0;
	right: 0;
	height: 58px;
}

body .galleria-theme-classic .galleria-thumbnails .galleria-image {
	margin-right: 2px;
	border: 0px
}
body .galleria-theme-classic .galleria-info-description{
	font: 1rem arial, sans-serif;
	color: white;
	
}
body .galleria-theme-classic .galleria-info-text {
	background-color: rgba(0,0,0,0.3);
	padding: 9px;
}
body .galleria-theme-classic .galleria-info {

}

body .galleria-theme-classic .galleria-image-nav-left, .galleria-theme-classic .galleria-image-nav-right {
	opacity: .85;
}
galleria-theme-classic .galleria-info-link {
	opacity: .5;
}

/* Google Maps */
#map2 {
    height: 400px;
    width: 100%;
	margin-bottom: 20px;
}
      








